.container {
  max-width: 120rem;
  margin: 8rem auto;

  background-color: var(--cc-grey-light-2);
  box-shadow: var(--shadow-dark);

  height: 50vh;
}

.header {
  height: 7rem;

  background-color: #fff;
  border-bottom: var(--cc-grey-light-2);
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--cc-grey-dark-1);
  flex: 0 0 18%;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}
